.popup__info {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin: 0 0 30px 0;
    width: 100%;
    padding: 0 5px 13px;
    outline: none;
}

.popup__info:last-child {
    margin: 0 0 48px 0;
}

.popup__info:focus {
    outline: 1px solid #52bcff;
    box-shadow: 0 1px 2px #297db1;
}