.card__like-button {
    background-image: url("../../../images/Group.svg");
    min-width: 22px;
    height: 19px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: unset;
    border: none;
    cursor: pointer;

}